.project {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 65vw;
}

.projectImg {
  max-width: 65vw;
  height: auto;
  transition: filter 0.1s;
  filter: grayscale(100%);
}

.projectImg:hover {
  transition: filter 0.1s;
  filter: grayscale(0%);
}

.descLogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.desc {
  font-size: 1rem;
}

.gitHubLogo {
  width: 30px;
}

@media (min-width: 1200px) {
  .project {
    max-width: 450px;
  }

  .projectImg {
    max-width: 450px;
  }
}

@media (max-width: 750px) {
  .projectImg {
    filter: grayscale(0%);
  }
}
