.project {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 600px;
}

.project img {
  transition: filter 0.1s;
  filter: grayscale(100%);
}

.project img:hover {
  transition: filter 0.1s;
  filter: grayscale(0%);
}

.desc {
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .project {
    max-width: 450px;
  }
}
