.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.logo {
  height: 30px;
  width: auto;
}

.contactContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: max-content;
  text-decoration: none;
}

.link {
  color: rgb(46, 46, 46);
}

.link:hover {
  box-shadow: 0 2px 0 -1px rgb(46, 46, 46);
}
