.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 1rem;
}

.logo {
  height: 25px;
  width: auto;
}

.contactContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: max-content;
  text-decoration: none;
}

.link {
  color: rgb(46, 46, 46);
}

.link:hover {
  box-shadow: 0 2px 0 -1px rgb(46, 46, 46);
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
  }
}
