.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  color: black;
  font-size: 1.4rem;
  font-weight: 100;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.link,
.dot {
  color: rgb(115, 100, 92);
}

.link {
  text-decoration: none;
  transition: box-shadow 0.2s;
  box-shadow: none;
}

.link:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0 3px 0 -1px rgb(115, 100, 92);
}

.link:active {
  color: rgba(115, 100, 92, 0.5);
  transition: box-shadow 0s;
  box-shadow: 0 3px 0 -1px rgba(115, 100, 92, 0.5);
}
