.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: 1.5;
}

hr {
  width: 78vw;
}

iframe {
  border: none;
  width: 64vw;
  min-width: 320px;
  height: 34vw;
  min-height: 170px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  max-width: 90vw;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.headline {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.portrait {
  height: 60vh;
  max-width: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.link {
  color: rgb(46, 46, 46);
}

.topHr {
  margin: 4vh 0 2vh 0;
}

.bottomHr {
  margin: 2vh 0 4vh 0;
}

@media (min-width: 1050px) {
  .aboutMe {
    flex-direction: row;
    align-items: center;
  }

  .intro {
    max-width: 500px;
  }

  .projects {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .portrait {
    max-width: 400px;
  }
}
